sgf-pipeline/Souce_Packages/com.cpbm.sgf/DatabaseConnection.java linguist-vendored
sgf-pipeline/Souce_Packages/com.cpbm.sgf/Main.java linguist-vendored
sgf-pipeline/Souce_Packages/com.cpbm.sgf/SgfDAO.java linguist-vendored
*.sql linguist-detectable
